<div class="header">
<div class="d-flex ">
  <div id="signOut" class="logo mx-4">
    <button class="btn btn-dark" (click)="logout()">
      {{ isUserLoggedIn ? 'تسجيل الخروج' : 'تسجيل الدخول' }}
    </button>
  </div>



</div>
  <div id="AdidasWord" class="logo">Adidas</div>

  <div class="user">
  <div class="user-name"></div>
  <div class="user-image"><svg width="165px" height="165px" viewBox="-1.92 -1.92 27.84 27.84" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M1.3294 19L0.731323 17.9641L5.06145 15.4641L7.1029 19H1.3294Z" fill="#000000"></path> <path d="M15.1858 19H9.4123L5.7935 12.7321L10.1236 10.2321L15.1858 19Z" fill="#000000"></path> <path d="M23.2687 19H17.4952L10.8557 7.5L15.1858 5L23.2687 19Z" fill="#000000"></path> </g></svg></div>
  </div>
  </div>
