/* @media only screen and (max-width: 1600px) {
	 .top-section {
		 width: 1280px;
	}
}
 @media only screen and (max-width: 1500px) {
	 .top-section {
		 width: 1180px;
	}
}
 @media only screen and (max-width: 1400px) {
	 .top-section {
		 width: 1080px;
	}
}
 @media only screen and (max-width: 1200px) {
	 .top-section {
		 width: 980px;
	}
} */
 .middle-section {
	 display: flex;
	 justify-content: space-between;
}
 /* @media only screen and (max-width: 1600px) {
	 .middle-section {
		 width: 1280px;
	}
}
 @media only screen and (max-width: 1500px) {
	 .middle-section {
		 width: 1180px;
	}
}
 @media only screen and (max-width: 1400px) {
	 .middle-section {
		 width: 1080px;
	}
}
 @media only screen and (max-width: 1200px) {
	 .middle-section {
		 width: 980px;
	}
} */
 .middle-section .widget {
	 height: 350px;
	 background-color: #fff;
	 border-radius: 5px;
	 /* margin: 10px; */
	 box-shadow: 5px 5px 5px #939393;
}
 /* .middle-section .widget.left {
	 width: 890px;
}
 @media only screen and (max-width: 1600px) {
	 .middle-section .widget.left {
		 width: 790px;
	}
}
 @media only screen and (max-width: 1500px) {
	 .middle-section .widget.left {
		 width: 690px;
	}
}
 @media only screen and (max-width: 1400px) {
	 .middle-section .widget.left {
		 width: 590px;
	}
}
 @media only screen and (max-width: 1200px) {
	 .middle-section .widget.left {
		 width: 490px;
	}
} */
 /* .middle-section .widget.right {
	 width: 450px;
} */
 .bottom-section {
	 display: flex;
	 justify-content: space-between;
}
 .bottom-section .widget {
	 height: 250px;
	 background-color: #fff;
	 border-radius: 5px;
	 /* margin: 10px; */
	 box-shadow: 5px 5px 5px #939393;
}
 /* .bottom-section .widget.left {
	 width: 670px;
} */
 /* @media only screen and (max-width: 1200px) {
	 .bottom-section .widget.left {
		 width: 570px;
	}
} */
 /* .bottom-section .widget.right {
	 width: 670px;
} */
 /* @media only screen and (max-width: 1600px) {
	 .bottom-section .widget.right {
		 width: 570px;
	}
} */
 /* @media only screen and (max-width: 1500px) {
	 .bottom-section .widget.right {
		 width: 470px;
	}
} */
 /* @media only screen and (max-width: 1400px) {
	 .bottom-section .widget.right {
		 width: 370px;
	}
} */
 /* @media only screen and (max-width: 1200px) {
	 .bottom-section .widget.right {
		 width: 370px;
	}
} */
