<div class="container row">
<div class="top-section ">
<app-top-widgets></app-top-widgets>
</div>
<div class="middle-section row">
<div class="widget left  col m-3">
<app-sales-by-month></app-sales-by-month>
</div>
<div class="widget right col  m-3">
<app-sales-by-category></app-sales-by-category>
</div>
</div>
<div class="bottom-section row">
<div class="widget left col  m-3">
<app-last-few-transactions></app-last-few-transactions>
</div>
<div class="widget right col  m-3">
<app-top-three-products></app-top-three-products>
</div>
</div>
</div>
